<div class="panel panel-default">
  <div class="panel-heading">
    Listing questions
  </div>
  <div class="panel-body">
  	<%= link_to 'New question', new_question_path, :class => 'btn btn-small' %>
  	<br>
  	<br>
  	<ul>
  		<% @questions.each do |q| %>
  			<li><%= q.title %>  <%= link_to 'X', q, method: :delete, data: { confirm: 'Are you sure?' }, style: 'color:red' %></li>
  		<% end -%>
  	</ul>
  </div>
</div>