<div class="panel panel-default">
  <div class="panel-heading">
    Create question
  </div>
  <div class="panel-body">
    <%= form_for(@question, :html => { :class => 'form-horizontal ' }) do |f| %>
      <div class="control-group">
        <%= f.label :title %>
        <div class='controls'>
          <%= f.text_field 'title' %><span class="text-error">*</span>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit 'Submit', :class => 'btn btn-default' %>
        </div>
      </div>      
    <% end -%>
  </div>
</div>