<% unless current_user %>
  
<div class="row-fluid ">
  <div class="span2"></div>
  <div class="span8 panel panel-default">
      <div class="panel-heading">
        Login Form    
      </div>

      <div class="panel-body">
        <%= form_tag sessions_path do %>
          <% if flash[:message] %>
          <div class="alert alert-error">
            <%= flash[:message] %>
          </div>
          <% end -%>
          <div class="control-group">
            <%= label_tag 'username' %>
            <div class="controls">
              <%= text_field_tag :username%><span class="text-error">*</span>           
              <span class="text-error pull-right" id="name_error"></span>
            </div>
          </div>
          
          <div class="control-group">
            <%= label_tag :password %>
            <div class="controls">
              <%= password_field_tag :password %><span class="text-error">*</span>
              <span class="text-error pull-right" id="password_error"></span>
            </div>          
          </div>

          <div class="control-group offset6">
            <div class="controls">
              <%= submit_tag "Log in",id: 'btn_login', class: 'btn btn-primary' %>
            </div>
          </div>           
        <% end %>      
    </div>
  </div>
  <div class="span2"></div>
</div>
<% else %>
  <%= render :file => "reports/index" %>
<% end %>
