<%= form_for(@user, :html => { :class => 'form-horizontal ' }) do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-error">
      <p><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</p>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :username %>
    <div class="controls">          
      <%= f.text_field :username %><span class="text-error">*</span>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :password %>
    <div class="controls">          
      <%= f.password_field :password %><span class="text-error">*</span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :password_confirmation %>
    <div class="controls">          
      <%= f.password_field :password_confirmation %><span class="text-error">*</span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :phone %>
    <div class="controls">          
      <%= f.text_field :phone %>
    </div>
  </div>

  
  <div class="control-group">
    <%= f.label :level %>
    <div class="controls">          
      <%= f.select('level', [['Admin', 1], ['Master', 2], ['Viewer',3], ['Data Entry', 4]], include_blank: "select kind") %><span class="text-error">*</span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :supporter %>
    <div class="controls">          
     <%= f.select('supporter', [['PFD', 'PFD'], ['Other', 'Other']], include_blank: "select kind") %><span class="text-error">*</span>
    </div>
  </div>

  <div class="control-group"> 
    <%= f.label "Entry type" %>
    <div class="controls">
      <%= f.select :input_type, User::INPUT_TYPE.collect {|l| [l[1], l[0]] }, {include_blank: "select user level"} %>
      <%#= f.select :level, options_for_select(current_user.descendant_level.collect {|l| [l[1], l[0]] }), {include_blank: "select user level"}, :class => "form-control" %>
    </div>
  </div>


  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Submit', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>