<% if flash[:alert] %>
  <div class="alert alert-error">
  <%= flash[:alert] %>
  </div>
<% end -%>
<div class="panel panel-default">
  <div class="panel-heading">
    Listing users
  </div>
  <div class="panel-body">
    <% if can? :create, User.new %>
    <%= link_to 'New user', new_user_path, :class => 'btn btn-small' %>
    <br/>
    <br/>
    <% end -%>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Phone number</th>
          <th>Kind</th>
          <th>Supporter</th>
          <th>Input type</th>
          <% if current_user %>
          <th></th>
          <th></th>
          <% end -%>
        </tr>
      </thead>

      <tbody>
        <% i = 0 %>

        <% @users.each do |user| %>
          <tr>
            <td><%= i = i + 1 %></td>
            <td><%= user.username %></td>
            <td><%= user.phone %></td>
            <td><%= user.type %></td>
            <td><%= user.supporter %></td>
            <td><%= User::INPUT_TYPE["#{user.input_type}"] %></td>
            <% if can? :manage, user %>
            <td><%= link_to 'Edit', edit_user_path(user) %></td>
            <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end -%>
          </tr>
        <% end %>
        <tr>
          <td colspan="8"><%= will_paginate @users %></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
