<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>
<% if can? :update, @user %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<% end -%>
<%= link_to 'Back', users_path %>