<%= form_for(@disease, :html => { :class => 'form-horizontal ' }) do |f| %>
  <% if @disease.errors.any? %>
    <div class="alert alert-error">
      <p><%= pluralize(@disease.errors.count, "error") %> prohibited this disease from being saved:</p>

      <ul>
      <% @disease.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :name %>
    <div class="controls">          
      <%= f.text_field :name %><span class="text-error">*</span>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Submit', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>