<% if flash[:alert] %>
  <div class="alert alert-error">
  <%= flash[:alert] %>
  </div>
<% end -%>
<div class="panel panel-default">
  <div class="panel-heading">
    Listing diseases
  </div>
  <div class="panel-body">
    <% if can? :create, Disease.new %>
    <%= link_to 'New disease', new_disease_path, :class => 'btn btn-small' %>
    <br/>
    <br/>
    <% end -%>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <% if current_user %>
          <th></th>
          <th></th>
          <% end -%>
        </tr>
      </thead>

      <tbody>
        <% i = 0 %>
        <% @diseases.each do |disease| %>
          <tr>
            <td><%= i = i + 1 %></td>
            <td><%= disease.name %></td>
            <% if can? :manage, disease %>
            <td><%= link_to 'Edit', edit_disease_path(disease) %></td>
            <td><%= link_to 'Destroy', disease, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end -%>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


