<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @disease.name %>
</p>
<% if can? :update, @disease %>
<%= link_to 'Edit', edit_disease_path(@disease) %> |
<% end -%>
<%= link_to 'Back', diseases_path %>
