<%= form_for(@pcrForm, :html => { :class => 'form-horizontal ' }) do |f| %>

  <% if @pcrForm.errors.any? %>
    <div class="alert alert-error">
      <p><%= pluralize(@pcrForm.errors.count, "error") %> prohibited this data from being saved:</p>

      <ul>
      <% @pcrForm.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>

  <% end %>

  <%= hidden_field_tag 'page', params[:page] %>
  <div class="control-group">
    <%= f.label 'Sample ID' %>
    <div class='controls'>
      <%= f.text_field 'sample_id' %>
    </div>
  </div>

  <% if current_user.first_entry? %>
    <%= render 'first_entry_form', f: f %>
  <% elsif current_user.second_entry? %>
    <%= render 'second_entry_form', f: f %>
  <% else %>
    <%= render 'default_form', f: f %>
  <% end -%>

  <div >
    <div class="controls">
      <%= f.submit 'Submit', :class => 'btn btn-default' %>
    </div>
  </div>

<% end -%>


<script type="text/javascript">
  $(document).ready(function(){

    $('.datepicker').datepicker({
        format: 'yyyy-mm-dd',
        autoClose: true
    });

  });


</script>
