<div class="control-group">
  <%= f.label :date_of_case_received %>
  <div class='controls'>
    <%= f.text_field 'date_of_case_received', :class => 'datepicker' %>
  </div>
</div>

<div class="control-group">
  <%= f.label 'PCR Screening' %>
  <div class='controls'>
    <%= f.select('pcr_malaria', PcrForm::PCR_MALARIA, include_blank: "Select PCR Malaria") %>
  </div>
</div>

<div class="control-group">
  <%= f.label 'Ct' %>
  <div class='controls'>
    <%= f.text_field 'tm' %>
  </div>
</div>

<div class="control-group">
  <%= f.label 'PCR Species' %>
  <div class='controls'>
    <%= f.select('rt_pcr_species', PcrForm::RT, include_blank: "Select RT_PCR Species") %>
    <%#= f.text_field 'rt_pcr_species' %>
  </div>
</div>

<div class="control-group">
  <%= f.label 'Pre-k13 Result' %>
  <div class='controls'>
    <%= f.text_field 'k13' %>
  </div>
</div>

<div class="control-group">
  <%= f.label 'Final k13 Result' %>
  <div class='controls'>
    <%= f.text_field 'final_k13_result' %>
  </div>
</div>

<div class="control-group">
  <%= f.label :date_of_k13_result %>
  <div class='controls'>
    <%= f.text_field 'date_of_k13_result', :class => 'datepicker' %>
  </div>
</div>

<div class="control-group">
  <%= f.label 'Date of Final-K13 Result' %>
  <div class='controls'>
    <%= f.text_field 'date_final_k13_result', :class => 'datepicker' %>
  </div>
</div>

<div class="control-group">
  <%= f.label 'Date of RDT' %>
  <div class='controls'>
    <%= f.text_field 'date', :class => 'datepicker', disabled: true %>
  </div>
</div>

<div class="control-group">
  <%= f.label :client_name %>
  <div class='controls'>
    <%= f.text_field 'client_name', disabled: true %>
  </div>
</div>

<div class="control-group">
  <%= f.label :sex %>
  <div class='controls'>
    <%= f.radio_button(:sex, "Female", disabled: true) %>
    <span>Female</span>&nbsp;&nbsp;&nbsp;
    <%= f.radio_button(:sex, "Male", disabled: true) %>
    <span>Male</span>
  </div>
</div>

<div class="control-group">
  <%= f.label :age %>
  <div class='controls'>
    <%= f.number_field 'age', disabled: true %>
  </div>
</div>

 <div class="control-group">
  <%= f.label :phone_number %>
  <div class='controls'>
    <%= f.number_field 'phone_number', disabled: true %>
  </div>
</div>

 <div class="control-group">
  <%= f.label :Village %>
  <div class='controls'>
    <%= f.text_field 'village', disabled: true %>
  </div>
</div>

 <div class="control-group">
  <%= f.label :commune %>
  <div class='controls'>
    <%= f.text_field 'commune', disabled: true %>
  </div>
</div>

 <div class="control-group">
  <%= f.label :health_center %>
  <div class='controls'>
    <%= f.text_field 'hc', disabled: true %>
  </div>
</div>

 <div class="control-group">
  <%= f.label :operational_district %>
  <div class='controls'>
    <%= f.text_field 'od', disabled: true %>
  </div>
</div>

<div class="control-group">
  <%= f.label :province %>
  <div class='controls'>
    <%= f.text_field 'province', disabled: true %>
  </div>
</div>

<div class="control-group">
  <%= f.label :latitude %>
  <div class='controls'>
    <%= f.text_field 'latitude', disabled: true %>
  </div>
</div>

 <div class="control-group">
  <%= f.label :longitude %>
  <div class='controls'>
    <%= f.text_field 'longitude', disabled: true %>
  </div>
</div>
