<?xml version="1.0" encoding="UTF-8"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Sample-ID</Data></Cell>
        <Cell><Data ss:Type="String">DBS_Received Date</Data></Cell>
        <Cell><Data ss:Type="String">Date of case received</Data></Cell>
        <Cell><Data ss:Type="String">PCR Screening</Data></Cell>
        <Cell><Data ss:Type="String">Ct</Data></Cell>
        <Cell><Data ss:Type="String">PCR Species</Data></Cell>
        <Cell><Data ss:Type="String">Pre-K13 Result</Data></Cell>
        <Cell><Data ss:Type="String">Final-K13 Result</Data></Cell>
        <Cell><Data ss:Type="String">Date of K13 result</Data></Cell>
        <Cell><Data ss:Type="String">Date of Final K13 result</Data></Cell>
        <Cell><Data ss:Type="String">Date of RDT</Data></Cell>
        <Cell><Data ss:Type="String">Client Name</Data></Cell>
        <Cell><Data ss:Type="String">Sex</Data></Cell>
        <Cell><Data ss:Type="String">Age</Data></Cell>
        <Cell><Data ss:Type="String">Phone number</Data></Cell>
        <Cell><Data ss:Type="String">Village</Data></Cell>
        <Cell><Data ss:Type="String">Commune</Data></Cell>
        <Cell><Data ss:Type="String">Health Center</Data></Cell>
        <Cell><Data ss:Type="String">Operational District</Data></Cell>
        <Cell><Data ss:Type="String">Province</Data></Cell>
        <Cell><Data ss:Type="String">Latitude</Data></Cell>
        <Cell><Data ss:Type="String">Longitude</Data></Cell>
      </Row>
    <% @pcrForms.each do |pcrForm| %>
      <Row>
        <Cell><Data ss:Type="String"><%= pcrForm.sample_id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.dbs_received_date.to_date if !pcrForm.dbs_received_date.nil? %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.date_of_case_received.to_date if !pcrForm.date_of_case_received.nil? %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.pcr_malaria %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.tm %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.rt_pcr_species %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.k13 %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.final_k13_result %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.date_of_k13_result.to_date if !pcrForm.date_of_k13_result.nil? %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.date_final_k13_result.to_date if !pcrForm.date_final_k13_result.nil? %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.client_name %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.sex %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.age %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.phone_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.village %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.commune %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.hc %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.od %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.province %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.latitude %></Data></Cell>
        <Cell><Data ss:Type="String"><%= pcrForm.longitude %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
