<% if flash[:alert] %>
  <div class="alert alert-error">
  <%= flash[:alert] %>
  </div>
<% end -%>

<div class="panel panel-default">
  <div class="panel-heading">
    Listing reports
    <div class="pull-right"><a href="#" class="view"><img src="/assets/table.png" title="Table view" id="iconTable" style="display:none"><img id="iconMap" title="Map view" src="/assets/map.png"></a></div>
  </div>
  <div class="panel-body">
    <div  id="table">
      <% if can? :create, PcrForm.new %>
        <%= link_to 'New PCR Form', new_pcr_form_path, :class => 'btn btn-small' %>
      <% end -%>
      <br/>
      <!-- <br/> -->
      <%#= form_tag pcr_forms_path, :method => 'get', class: 'form-inline' do %>
        <%#= select_tag 'k13', options_for_select(["All", "C580Y", "F583L*", "I543T", "NA", "NI", "PCR negative", "R539T", "WT", "Y493H", "Y616Y*"]), :prompt => "Please select" %>
        <%#= submit_tag 'search', class: 'btn btn-primary'%>
      <%# end %>
      <div class='pull-right'>
        <% if current_user %>
          <%= form_tag export_pcr_forms_path, :method => :get, :id => :pcr_form_form, :format => "xls" do %>
            <div class="controls">
              <input data-provide="datepicker" name="fromDate" id="fromDate" class="datepicker" placeholder="From Date">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <input data-provide="datepicker" name="toDate" id="toDate" class="datepicker" placeholder="To Date">
              <input type="hidden" id="formatFile" name="format">
              &nbsp;&nbsp;&nbsp;&nbsp;
              <button id="exportCsv" class="btn btn-small">Export csv</button>
              <button id="exportXls"  class="btn btn-small">Export xls</button>
            </div>
          <% end -%>
        <% end -%>
      </div>
      <br>
      <br>
      <div>
        <h5>Total Record : <span class="badge"><%= "#{@currentRecord}/#{@totalRecord}"  %></span></h5>
        <h5>K13 Positive : <span class="badge"><%= @k13PositiveCase %></span></h5>
      </div>
      <br>
      <br>

<%= form_tag '', :method => :get do %>
  <div class="input-group col-sm-3">
    <%= text_field_tag :sample_id, params[:sample_id], class: "form-control",
                       placeholder: "Sample-ID", data: {url: pcr_forms_path} %>
    <br/>
    <br/>
    <%= select_tag 'k13', options_for_select(["All", "C580Y", "F583L*", "I543T", "NA", "NI", "PCR negative", "R539T", "WT", "Y493H", "Y616Y*"], params[:k13]), class: "form-control" %>
    <br/>
    <br/>
    <%= submit_tag 'search', class: 'btn btn-primary'%>
  </div>
<% end %>

      <table class="table table-hover">
        <thead>
          <tr>
            <th>Sample-ID</th>
            <th>DBS_Received Date</th>
            <th>Date of case received</th>
            <th>PCR Screening</th>
            <th>Ct</th>
            <th>PCR Species</th>
            <th>Pre-K13 Result</th>
            <th>Final K13 Result</th>
            <th>Date of Pre-K13 Result</th>
            <th>Date of Final K13 Result</th>
            <th>Date of RDT </th>
            <th>Client Name</th>
            <th>Sex</th>
            <th>Age</th>
            <th>Phone number</th>
            <th>Village</th>
            <th>Commune</th>
            <th>Health Center</th>
            <th>Operational Disctrict</th>
            <th>Province</th>
            <th>Latitude</th>
            <th>Longitude</th>
            <% #if current_user %>
            <th></th>
            <th></th>
            <% #end -%>
          </tr>
        </thead>

        <tbody>
        <% @pcrForms.each do |report| %>
          <tr>
            <td><%= report.sample_id %></td>
            <td><%= report.dbs_received_date.to_date if !report.dbs_received_date.nil? %></td>
            <td><%= report.date_of_case_received.to_date if !report.date_of_case_received.nil? %></td>
            <td><%= report.pcr_malaria %></td>
            <td><%= report.tm %></td>
            <td><%= report.rt_pcr_species %></td>
            <td><%= report.k13 %></td>
            <td><%= report.final_k13_result %></td>
            <td><%= report.date_of_k13_result.to_date if !report.date_of_k13_result.nil? %></td>
            <td><%= report.date_final_k13_result.to_date if !report.date_final_k13_result.nil? %></td>
            <td><%= report.date.to_date if !report.date.nil? %></td>
            <td><%= report.client_name %></td>
            <td><%= report.sex %></td>
            <td><%= report.age %></td>
            <td><%= report.phone_number %></td>
            <td><%= report.village %></td>
            <td><%= report.commune %></td>
            <td><%= report.hc %></td>
            <td><%= report.od %></td>
            <td><%= report.province %></td>
            <td><%= report.latitude %></td>
            <td><%= report.longitude %></td>
            <% if can? :edit, report %>
            <td><%= link_to 'Edit', edit_pcr_form_path(report, page: params[:page]) %></td>
            <td>
              <% if current_user.input_type == "" or current_user.input_type == nil %>
                <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end -%>
              </td>
            <% end -%>
          </tr>
        <% end -%>
          <tr>
            <td colspan="23"><%= will_paginate @pcrForms %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="map" style="display:none;">
      <h5>Red Indicator : <span class="badge" style="background-color:#fd7567"><%= @redIndicator  %></span></h5>
      <h5>Blue Indicator : <span class="badge" style="background-color:#001dff"><%= @blueIndicator %></span></h5>
      <h5>Green Indicator : <span class="badge" style="background-color:#00e64d"><%= @greenIndicator %></span></h5>
      <div id="map-canvas" style="width: 100%; height: 800px; "></div>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDY44OFIpEX_VvohK8q4iAhs8Vctkzv4V4&callback=initialize"></script>

 <script src="/assets/map.js" type"text/javascript"> </script>
