<%= form_for(@report) do |f| %>
  <% if @report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>

      <ul>
      <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :sex %>
    <div class="controls">
      <%= f.radio_button :sex, "Male", :checked => true, class: 'multiple_classes' %> Male &nbsp;&nbsp;&nbsp;
      <%= f.radio_button :sex, "Female", class: 'multiple_classes' %> Female
    </div>
  </div>
  <div class="control-group">
    <%= f.label :age %>
    <div class="controls">
      <%= f.number_field :age %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label 'Disease' %>
    <div class="controls">
      <%= f.collection_select :disease_id, Disease.order(:name),:id,:name, include_blank: "select disease" %>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label 'Location' %>
    <div class="controls">
      <%= f.collection_select :province_id, Location.where(:kind => "Province").order(:name),:id,:name, include_blank: "select location" %>
    </div>
  </div>  
  <div class="control-group">
    <%= f.label 'Location' %>
    <div class="controls">
      <%= f.collection_select :district_id, Location.where(:kind => "District", :parent_id => @report.province_id).order(:name),:id,:name, include_blank: "select location" %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :phone_number %>
    <div class="controls">
      <%= f.text_field :phone_number %>
    </div>
  </div>     
  <div class="control-group">
    <%= f.label :longtitude %>
    <div class="controls">
      <%= f.text_field :longtitude %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :latitude %>
    <div class="controls">
      <%= f.text_field :latitude %>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Submit', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
