<?xml version="1.0" encoding="UTF-8"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Sex</Data></Cell>
        <Cell><Data ss:Type="String">Age</Data></Cell>
        <Cell><Data ss:Type="String">Disease</Data></Cell>
        <Cell><Data ss:Type="String">Province</Data></Cell>
        <Cell><Data ss:Type="String">District</Data></Cell>
        <Cell><Data ss:Type="String">Commune</Data></Cell>
        <Cell><Data ss:Type="String">Village</Data></Cell>
        <Cell><Data ss:Type="String">Phone number</Data></Cell>
        <Cell><Data ss:Type="String">Suspective</Data></Cell>
        <Cell><Data ss:Type="String">Baby age</Data></Cell>
        <Cell><Data ss:Type="String">Treatment</Data></Cell>
        <Cell><Data ss:Type="String"><%= @question.title if @question != nil %></Data></Cell>
        <Cell><Data ss:Type="String">Latitude</Data></Cell>
        <Cell><Data ss:Type="String">Longtitude</Data></Cell>
        <Cell><Data ss:Type="String">Date</Data></Cell>
        <Cell><Data ss:Type="String">Submited date</Data></Cell>
        <Cell><Data ss:Type="String">Reporter</Data></Cell>
        <Cell><Data ss:Type="String">Reporter's phone number</Data></Cell>
      </Row>
    <% @reports.each do |report| %>
        <% if !report.disease.nil? 
          disease = report.disease.name
        end

        if !report.province.nil?
          province = report.province.name
        end

        if !report.district.nil?
          district = report.district.name
        end

        if !report.commune.nil?
          commune = report.commune.name
        end
        if !report.village.nil?
          village = report.village.name
        end

        if !report.user.nil?
          username = report.user.username
          user_phone = report.user.phone
        end
         %>

      <Row>
        <Cell><Data ss:Type="Number"><%= report.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.sex if !report.sex.nil? %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= report.age if !report.age.nil? %></Data></Cell>
        <Cell><Data ss:Type="String"><%= disease %></Data></Cell>
        <Cell><Data ss:Type="String"><%= province %></Data></Cell>
        <Cell><Data ss:Type="String"><%= district %></Data></Cell>
        <Cell><Data ss:Type="String"><%= commune %></Data></Cell>
        <Cell><Data ss:Type="String"><%= village %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.phone_number %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.suspective %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.baby_age %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.treatment %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.question if @question != nil %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.latitude if !report.latitude.nil? %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.longtitude if !report.longtitude.nil? %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.date %></Data></Cell>
        <Cell><Data ss:Type="String"><%= report.created_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= username %></Data></Cell>
        <Cell><Data ss:Type="String"><%= user_phone %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>