<% if flash[:alert] %>
  <div class="alert alert-error">
  <%= flash[:alert] %>
  </div>
<% end -%>
<h4>Listing report</h4>
<div class='pull-right'>
  <% if current_user %>
    <%= form_tag export_reports_path, :method => :get, :id => :report_form, :format => "xls" do %>
      <div class="controls">
        <input data-provide="datepicker" name="fromDate" id="fromDate" class="datepicker" placeholder="From Date">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <input data-provide="datepicker" name="toDate" id="toDate" class="datepicker" placeholder="To Date">
        <input type="hidden" id="formatFile" name="format">
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button id="exportCsv" class="btn btn-small">Export csv</button>
        <button id="exportXls"  class="btn btn-small">Export xls</button>
      </div>
    <% end -%>
  <% end -%> 
</div>
<br>
<br>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Sex</th>
      <th>Age</th>
      <th>Disease</th>
      <th>Province</th>
      <th>District</th>
      <th>Commune</th>
      <th>Village</th>
      <th>Phone number</th>
      <th>Suspective</th>
      <th>Baby age</th>
      <th>Treatment</th>
      <th><%= @question.title if @question != nil %></th>
      <th>Longtitude</th>
      <th>Latitude</th>
      <th>Date</th>
      <th>Submited date</th>
      <th>Reporter</th>
      <th>Reporter's phone</th>
      <th></th>
      <% if current_user %>
      <th></th>
      <th></th>
      <% end -%>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.sex %></td>
        <td><%= report.age %></td>
        <td><%= report.disease.name if report.disease != nil %></td>
        <td><%= report.province.name if report.province != nil %></td>
        <td><%= report.district.name if report.district != nil %></td>
        <td><%= report.commune.name if report.commune != nil %></td>
        <td><%= report.village.name if report.village != nil %></td>
        <td><%= report.phone_number %></td>
        <td><%= report.suspective %></td>
        <td><%= report.baby_age %></td>
        <td><%= report.treatment %></td>
        <td><%= report.question if @question != nil %></td>
        <td><%= report.longtitude %></td>
        <td><%= report.latitude %></td>
        <td><%= report.date %></td>
        <td><%= report.created_at %></td>
        <td><%= report.user.username if report.user != nil %></td>
        <td><%= report.user.phone if report.user != nil %></td>
        <td><%= link_to 'Show', report %></td>
        <% if can? :manage, report %>
        <td><%= link_to 'Edit', edit_report_path(report) %></td>
        <td><%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end -%>
      </tr>
    <% end %>
    <tr>
      <td colspan="20"><%= will_paginate @reports %></td>
    </tr>        
  </tbody>
</table>




<script type="text/javascript">

$(document).ready(function(){ 
  $('#exportXls').on("click", function(){
    console.log('xls');
    $('#formatFile').val('xls');
  });
  
  $('#exportCsv').on("click", function(){
    $('#formatFile').val('csv');
  });
 
});

</script>