<p id="notice"><%= notice %></p>

<p>
  <strong>Sex:</strong>
  <%= @report.sex %>
</p>

<p>
  <strong>Age:</strong>
  <%= @report.age %>
</p>

<p>
  <strong>Longtitude:</strong>
  <%= @report.longtitude %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @report.latitude %>
</p>

<p>
  <strong>Province:</strong>
  <%= @report.province.name if !@report.province.nil? %>
</p>

<p>
  <strong>District:</strong>
  <%= @report.district.name if !@report.district.nil? %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @report.phone_number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @report.date %>
</p>

<p>
  <strong>Submited date:</strong>
  <%= @report.created_at %>
</p>

<p>
  <strong>Reporter:</strong>
  <%= @report.user.username if !@report.user.nil? %>
</p>

<p>
  <strong>Reporter's phone number:</strong>
  <%= @report.user.phone if !@report.user.nil? %>
</p>

<% if can? :update, @report %>
<%= link_to 'Edit', edit_report_path(@report) %> |
<% end -%>
<%= link_to 'Back', reports_path %>
