<%= form_for(@location, :html => { :class => 'form-horizontal ' }) do |f| %>
  <% if @location.errors.any? %>
    <div class="alert alert-error">
      <p><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</p>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name %>
    <div class='controls'>
      <%= f.text_field 'name' %><span class="text-error">*</span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label 'Kind' %>
    <div class='controls'>
      <%= f.select('kind', [['Province', 'Province'], ['District', 'District'], ['Commune', 'Commune'], ['Village', 'Village']], include_blank: "select kind") %><span class="text-error">*</span>
    </div>
  </div>  



  <div class="control-group"​ id="province">
    <%= f.label 'Parent Province' %>
    <div class='controls'>
      <select name="location[province]" id="sel_province"></select>
    </div>
  </div>  

  <div class="control-group"​ id="district">
    <%= f.label 'Parent District' %>
    <div class='controls'>
      <select name="location[district]" id="sel_district"></select>
    </div>
  </div>  

  <div class="control-group"​ id="commune">
    <%= f.label 'Parent Commune' %>
    <div class='controls'>
      <select name="location[commune]" id="sel_commune"></select>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Submit', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>

<script>
$(document).ready(function(){
  
  $('#location_kind').on('change',function(){
    kind = $('#location_kind').val();
    if(kind != ''){ 
      if(kind == 'Province'){
        $('#province').hide();
        $('#district').hide();
        $('#commune').hide();
      }else{
        get_all_provinces();
      }
    }
    // select_province();
  });

  $('#sel_province').on('change', function(){
    select_province();
  });

  $('#sel_district').on('change', function(){
    select_district();
  });
  
});

function select_province(){
  kind = $('#location_kind').val(); 
  if(kind != ''){
    if(kind == 'Commune'){
      $('#district').show();
      province_id = $('#sel_province').val();
      if(province_id != ''){
        get_sub_district(province_id);  
      }   
    }else if(kind == 'Village'){
      $('#district').show();
      province_id = $('#sel_province').val();
      if(province_id != ''){
        get_sub_district(province_id);  
      }


    }else{
      $('#district').hide();
    }
  }
}

function select_district(){
  kind = $('#location_kind').val(); 
  if(kind == 'Village'){
    $('#commune').show();
    district_id = $('#sel_district').val();
    if(district_id != ''){
      get_sub_commune(district_id);
    }
  }
}

function get_all_provinces(){
  $('#province').show();
  $('#district').hide();
  $('#sel_province').empty();
    $.ajax({
        type: "GET",
        url:'/locations/all_provinces.json', 
        success: function(response){
          $('#sel_province').append("<option>select province</option>");
          $.each( response, function( key, data ) {
            $('#sel_province').append("<option value='"+ data.id+"'>"+data.name+"</option>");    
          });
        }
    }); 
}

function get_sub_district(province_id){
  $('#sel_district').empty();
    $.ajax({
        type: "GET",
        url:'/locations/sub_locations.json', 
        data: {location_id: province_id},
        success: function(response){
          $('#sel_district').append("<option>select district</option>");
          $.each( response, function( key, data ) {
            $('#sel_district').append("<option value='"+ data.id+"'>"+data.name+"</option>");    
          });
        }
    });   
}

function get_sub_commune(district_id){
  $('#sel_commune').empty();
    $.ajax({
        type: "GET",
        url:'/locations/sub_locations.json', 
        data: {location_id: district_id},
        success: function(response){
          $('#sel_commune').append("<option>select commune</option>");
          $.each( response, function( key, data ) {
            $('#sel_commune').append("<option value='"+ data.id+"'>"+data.name+"</option>");    
          });
        }
    });   
}

</script>