<div class="panel panel-default">
  <div class="panel-heading">
    Editing location
  </div>
  <div class="panel-body">
<%= form_for(@location, :html => { :class => 'form-horizontal ' }) do |f| %>
  <% if @location.errors.any? %>
    <div class="alert alert-error">
      <p><%= pluralize(@location.errors.count, "error") %> prohibited this location from being saved:</p>

      <ul>
      <% @location.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name %>
    <div class='controls'>
      <%= f.text_field 'name' %><span class="text-error">*</span>
    </div>
  </div>

  <div class="control-group">
    <%= f.label 'Kind' %>
    <div class='controls'>
      <%= f.select('kind', [['Province', 'Province'], ['District', 'District'], ['Commune', 'Commune'], ['Village', 'Village']], include_blank: "select kind") %><span class="text-error">*</span>
    </div>
  </div>  



  <div class="control-group"​ id="edit_province">
    <%= f.label 'Parent Province' %>
    <div class='controls'>
      <%= f.hidden_field :parent_id %>
      <select name="location[province]" id="sel_province"></select>
    </div>
  </div>  

  <div class="control-group"​ id="edit_district">
    <%= f.label 'Parent District' %>
    <div class='controls'>
      <select name="location[district]" id="sel_district"></select>
    </div>
  </div>  

  <div class="control-group"​ id="edit_commune">
    <%= f.label 'Parent Commune' %>
    <div class='controls'>
      <select name="location[commune]" id="sel_commune"></select>
    </div>
  </div> 

  <div class="control-group">
    <div class="controls">
      <%= f.submit 'Submit', :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
  </div>
</div>

<script>
$(document).ready(function(){
  kind = $('#location_kind').val();
  parent_id = $('#location_parent_id').val();

  if(kind == 'District'){
    get_all_provinces(parent_id);
  }

  if(kind == 'Commune'){
    get_province_by_district_id(parent_id);
  }
  
  if(kind == 'Village'){
    get_province_by_commune_id(parent_id);
  }


});

function get_province_by_commune_id(commune_id){
    $.ajax({
        type: "GET",
        url:'/locations/parent_location_with_child_id.json', 
        data: {location_id: commune_id},
        success: function(response){
          get_all_provinces(response['parent_id']);          
          get_sub_district(response['parent_id'], response['id']);
          get_sub_commune(response['id'], commune_id);
          $('#edit_province').show();
      $('#edit_district').show();
        }
    }); 
}

function get_province_by_district_id(district_id){
    $.ajax({
        type: "GET",
        url:'/locations/parent_location_with_child_id.json', 
        data: {location_id: district_id},
        success: function(response){    
          get_all_provinces(response['id']);          
          get_sub_district(response['id'], district_id);
          $('#edit_province').show();
      $('#edit_district').show();
        }
    }); 
}

function get_sub_district(province_id, selected_id){
  $('#sel_district').empty();
    $.ajax({
        type: "GET",
        url:'/locations/sub_locations', 
        data: {location_id: province_id},
        success: function(response){
          $('#sel_district').append("<option>select district</option>");
          $.each( response, function( key, data ) {
            $('#sel_district').append("<option value='"+ data.id+"'>"+data.name+"</option>");    
          });
          $('#sel_district').val(selected_id).attr('selected','selected');
        }
    });   
}

function get_sub_commune(district_id, selected_id){
  $('#sel_commune').empty();
    $.ajax({
        type: "GET",
        url:'/locations/sub_locations', 
        data: {location_id: district_id},
        success: function(response){
          $('#sel_commune').append("<option>select commune</option>");
          $.each( response, function( key, data ) {
            $('#sel_commune').append("<option value='"+ data.id+"'>"+data.name+"</option>");    
          });
          $('#sel_commune').val(selected_id).attr('selected','selected');
        }
    });   
}

function get_all_provinces(selected_id){
  $('#edit_province').show();
  $('#edit_district').hide();
  $('#sel_province').empty();
    $.ajax({
        type: "GET",
        url:'/locations/all_provinces.json',
        success: function(response){
          $('#sel_province').append("<option>select province</option>");
          $.each( response, function( key, data ) {
            $('#sel_province').append("<option value='"+ data.id+"'>"+data.name+"</option>");    
          });
          $('#sel_province').val(selected_id).attr('selected','selected');
        }
    }); 
}

</script>

