<% if flash[:alert] %>
  <div class="alert alert-error">
  <%= flash[:alert] %>
  </div>
<% end -%>
<div class="panel panel-default">
  <div class="panel-heading">
    Listing location
  </div>
  <div class="panel-body">
    <% if can? :create, Location.new %>
    <%= link_to 'New location', new_location_path, :class => 'btn btn-small' %>
    <br/>
    <br/>
    <% end -%>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Kind</th>
          <th>Parent</th>
          <th></th>
          <% if current_user %>
          <th></th>
          <th></th>
          <% end -%>
        </tr>
      </thead>

      <tbody>
        <% i = 0 %>
        <% @locations.each do |location| %>
          <tr>
            <td><%= i=i+1 %></td>
            <td><%= location.name %></td>
            <td><%= location.kind %></td>
            <td><%= location.parent.name if !location.parent.nil? %></td>
            <td><%= link_to 'Show', location %></td>
            <% if can? :manage, location %>
            <td><%= link_to 'Edit', edit_location_path(location) %></td>
            <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            <% end -%>
          </tr>
        <% end %>       
      </tbody>
    </table>
  </div>
</div>
