<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
<strong>Kind:</strong>
  <%= @location.kind %>
</p>

<p>
<strong>Parent:</strong>
  <%= @location.parent.name if !@location.parent.nil? %>
</p>
<% if can? :update, @location %>
<%= link_to 'Edit', edit_location_path(@location) %> |
<% end -%>
<%= link_to 'Back', locations_path %>

